
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 
}

/*Formulario*/
.container{
    width: 100%;
    min-height: 1000px;
    background:url('/assets/img/imagemDeFundo.png') #d85cce fixed center ;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
}
.container .campoDeTexto{
    margin: 100px 0 0 0;
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:  #e7ecefc2;
    border-top-right-radius: 100px;
    box-shadow:  0 0 10px 1px #30302fc7;
}
.campoDeTexto form{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 30px;
    border-radius: 10px;
    background-color: #272932;
    color: white;
    
}
.campoDeTexto form .tituloForm{
    font-size: 1rem;
    padding: 5px 10px;
    font-weight: 300;
}
.campoDeTexto form .textoForm{
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}
.botaoForm{
    width: 100%;
    margin: 10px 0 ;
    padding: 20px 0;
    font-weight: 300;
    font-size: 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.751);

}
.botaoForm:hover{
    background-color: #e7ecef75;
    color: black;
}
.campoDeTexto  h2{
    text-align: center;
    font-size: 1.8rem;
    padding-top: 10px;
    font-weight: 300;
}

/*Lista*/
.campoLista{
    box-shadow:  10px 10px  10px 0 #464645e2;
    width: 50%;
    min-height: 400px;
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #2729324e;
}
.listaDoForm{
    width: 80%;
    
    
    
}
.listaDoForm h2{
    text-align: center;
    font-weight: 300;
    color: black;
    padding: 10px;
}
.campoLista .listaDoForm li{
    padding: 5px;
    margin: 2px;
    font-size: 1rem;
    color: black;  
    font-weight: 300;
    list-style: none;
    background-color: #e7ecef75;
}
.campoLista .listaDoForm li strong{
    font-weight: bold;
    padding-right: 10px;
}
.botaoDeletar{
    background-color: #e7ecef75;
    color: black;
    width:30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 30px;
    margin-left: 10px;
    
    font-weight: bold;

}
.botaoDeletar:hover{
    background-color: #272932;
    color: white;
    font-weight: bold;
}
.rodape{
    padding: 50px;
}
@media (max-width: 600px){

    .container .campoDeTexto{
        margin:  0;
        width: 90%;
    }
    .campoLista{
        max-width: 90%;
        min-width: 90%;

    }
    .container{
        padding: 50px 0;
    }
    

}